@import 'app/styles/variables/colors.scss';

.root {
    width: 180px;
    min-height: 100px;
    border: 1px solid $COLOR_DARK_GREY;
    padding: 10px;
    margin: 15px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
    background-color: $COLOR_YELLOW;

    &_blue {
        background-color: $COLOR_LIGHT_BLUE;
    }

    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, .3);
        background-color: $COLOR_YELLOW_LIGHT;
    }
}